<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>New-Divvy-App</display-name>
  
  <context-param>
  <param-name>log4j-config-location</param-name>
  <param-value>WEB-INF/log4j.properties</param-value>
  </context-param>
  
  <welcome-file-list>
    <welcome-file>LogIn.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SignUpInformation</servlet-name>
    <servlet-class>com.divvyapp.SignUpInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpInformation</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginValidation</servlet-name>
    <servlet-class>com.divvyapp.LoginValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginValidation</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssignTasks</servlet-name>
    <servlet-class>com.divvyapp.AssignTasks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignTasks</servlet-name>
    <url-pattern>/Assign</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTasks</servlet-name>
    <servlet-class>com.divvyapp.AddTasks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTasks</servlet-name>
    <url-pattern>/AddTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompleteTask</servlet-name>
    <servlet-class>com.divvyapp.CompleteTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompleteTask</servlet-name>
    <url-pattern>/CompTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUsers</servlet-name>
    <servlet-class>com.divvyapp.AddUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUsers</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeWeeklyPoints</servlet-name>
    <servlet-class>com.divvyapp.ChangeWeeklyPoints</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeWeeklyPoints</servlet-name>
    <url-pattern>/Change</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvanceDate</servlet-name>
    <servlet-class>com.divvyapp.AdvanceDate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvanceDate</servlet-name>
    <url-pattern>/Advance</url-pattern>
  </servlet-mapping>
</web-app>